body {
  padding-top: 2rem;
}
   
.navbar-custom {
    background-color:#9b59b6;
    color:#0;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.letters audio { 
   display:none;
}

.letters .audio-play {
	font-size: 1.5em;
}

.pronounce-list{
  margin:50px;
}
.pronounce-options{
  margin:50px;
}

.select2-selection__choice {
 font-size: 2.5em;
 background-color:#31b0d5;
}

.pronounce .btn{
  font-size: 2.5em;
  margin-bottom: 2px;
}

.social-media {
	list-style:none;
}
.social-media li {
	padding-bottom :5px;
}
.social-media li img{
	height: 24px;
    width: 24px;
}